/*
*{
  outline: 1px solid red;
}*/

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-light";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
}
@media screen and (min-width: 960px) {
  /* стили для мониторов */

  /* COMMON STYLE for Navigation and Footer*/

  .header {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  }
  .header__h1 {
    color: var(--Gray-4, #bdbdbd);
    font-family: "Roboto-light";
    font-size: 3em;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
  }
  .header__h1-bold{
    color: var(--Gray-1, #333);
    font-family: "Roboto-Bold";
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
    margin-top: -50px;
  }
  .text-light {
    /* легкий */
    color: var(rgba(0, 0, 0, 1));
    font-family: "Roboto-lihgt";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 2em; 
  }
  .text-reg {
    /* регуляр*/
    color: var(rgba(0, 0, 0, 1));
    font-family: "Roboto";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 100% */
  }
  .text-bold{
        /* регуляр*/
        color: var(rgba(0, 0, 0, 1));
        font-family: "Roboto-bold";
        font-size: 1em;
        font-style: normal;
        font-weight: 300;
        line-height: 36px; /* 100% */
  }
  .nav {
    margin-top: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav__logo{
    margin-right: 30vw;
  }
  .nav__link {
    position: relative;
    padding: 0 10px;
    color: var(--gray-1, #333);
    font-family: "Roboto";
    font-size: 0.7em;
    font-style: normal;
    font-weight: 400;
    line-height: 0.7em; /* 100% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  /*При наведении добавляются линии над и под ссылкой*/
  .nav__link:before,
  .nav__link:after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0;
    background-color: #000;
    transition: 0.3s;
  }
  .nav__link:after {
    left: 0;
    bottom: 15px;
  }
  .nav__link:before {
    right: 0;
    top: -15px;
  }
  .nav__link:hover {
    color: #000;
  }
  .nav__link:hover:after,
  .nav__link:hover:before {
    width: 100%;
  }

  .footer {
    background: #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 5vw;
    color: white;
    font-family: "Roboto";
  }
  .footer__logo{
    margin-top: 1vw;
  }
  .footer__info {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__info-link{
    color: white;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.42px;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .footer__contact {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__contact-link {
    color: white;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.42px;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .footer__contact-link > img{
    padding-right: 1vw;
  }
  .footer__social{
    margin-top: 1vw;
    text-align: center;
  }
  .footer__social-link {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .footer__social-link > a{
    padding: 1vw;
  }


  /* MAIN-PAGE */
  .main {
    display: flex;
    flex-direction: column;
  }
  .main-block {
    /* project lorum */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main_block_info {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: space-around;
  }
  .main_block_info_pics {
    margin-left: 10vw;
  }
  .main_block_info_pics_arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vw;
    padding-bottom: 5vw;
  }
  .main_block_info_pics_nmbrs {
    padding-bottom: 10px;
  }
  .main-block__img{
    width: 100%;
  }
  .main_block_img_button_link {
    padding: 15px;
    background: var(--Gray-1, #ffffff);
    color: rgba(51, 51, 51, 1);
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .main-abt {
    /* about */
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 5vw;
    background-color: rgba(251, 251, 251, 1);
  }
  .main_abt_img_block1 {
    display: flex;
    flex-direction: column;
    padding: 3vw 3vw 3vw 3vw;
  }
  .main_abt_img_block1 > div > img {
    padding-bottom: 15px;
  }
  .main_abt_img_block2 {
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
  }
  .main_abt_txt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3vw 3vw 3vw 3vw;

  }
  .main_abt_button{
    margin-top: 2vw;
  }
  .main_abt_button_link {
    padding: 15px;
    background: var(--Gray-1, #ffffff);
    color: rgba(51, 51, 51, 1);
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }

  .main-msn {
    /* main mission */
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .main_msn_img {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 110px 1fr 110px 1fr;
    grid-template-rows: 1fr;
  }
  .main_msn_img_pic {
    width: 100%;
    height: 100%;
  }

  .main-prj { 
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main_prj_img_part1 {
    display: grid;
    margin-bottom: 15px;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(1, 300px);
  }
  .main_prj_img_part2 {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 300px);
  }
  .main_prj_img_pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main_prj_button {
    margin-top: 15px;
    align-self: end;
  }
  .main_prj_button_link {
    padding: 15px;
    background: var(--Gray-1, #333);
    color: white;
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .main-contact {
    margin-top: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
  }
  .main_contact_form {
    display: grid;
    grid-template-columns: 3fr 7fr;
  }
  .main_contact_form_add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-contact__img {
    width: 100%;
  }
  /*Parameters for input area*/
  #Name,
  #Number,
  #Email,
  #addText {
    padding: 1vw;
  }
  #Textarea {
    padding: 1vw;
  }
  .form-control {
    color: #8d8d8d;
    font-family: Roboto;
    font-size: 0.9em;
    border: none;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-right: 0.5vw;
    background: #f3f3f3;
  }
  .main_contact_button {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .main_contact_button_link {
    padding: 15px;
    background: var(--Gray-1, #333);
    color: white;
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }

  /* GALLERY-PAGE */
  .gallery-page{
    display: flex;
    flex-direction: column;
  }
  .gallery-page__container {
    margin: 0 10vw 10vw 10vw;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 300px);
  }
  .gallery-page__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery-page__img:first-child {
    background: #C4C4C4;
  }

  /* PROJECT-PAGE */
  .project-page {
    width: 100vw;
  }
  .project-page__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10vw 10vw 10vw;
  }
  .project-page__wrapper_article {
    margin-bottom: 5vw;
    display: flex;
    align-items: center;
    padding: 0 20px 20px 0;
    background: var(--1, #FBFBFB);
  }
  .project-page__img {
    width: 40vw;
    padding: 10px;
  }
  .main_prj_wrapper_section__describtion {
    width: 43vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main_prj_wrapper_section__text {
    width: 35vw;
    font-family: "Roboto";
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
  }
  .main_prj_wrapper_info {
    display: flex;
  }
  .main_prj_wrapper_info__link {
    width: 84px;
    font-family: "Roboto";
    text-decoration: none;
    color: var(--Gray-1, #333);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  .main_prj_wrapper_info__icon {
    width: 24px;
    height: 24px;
  }

  /* PROJECT-PAGE SAMPLE 1*/
  .prj_smple_page {
    display: flex;
    flex-direction: column;
  }
  .prj_smpl_page_main_section{
    display: flex;
    flex-direction: column;
    margin: 0vw 10vw 5vw 10vw;
  }
  .prj_smpl_page_main_section_img1{
    padding-bottom: 1vw;
  }
  .prj_smpl_page_main_section_discription {
    display: flex;
    flex-direction: row;
    padding-bottom: 1vw;
  }
  .prj_smpl_page_main_section_img2{
    padding-right: 1vw;
  }
  .prj_smpl_page_main_section_img3{
    padding-bottom: 1vw;
  }

  /* CERTIFICATIONS-PAGE */
  .certifications{
    display: flex;
    flex-direction: column;
    height: 70vh;
  }

  /* CONTACTS-PAGE */
  .contact-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-page__info{
    display: flex;
    flex-direction: column;
  }
  .contact-page__info-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0vw 10vw 10vw 10vw;
  }
  .contact-page__info-button {
    margin-top: 5vw;
    padding: 15px;
    background: var(--Gray-1, #333);
    color: white;
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .contact-page__map {
    width: 100%;
    border: 2px solid #000;
    margin: 3vw 0vw 3vw 3vw;

  }
}

@media screen and (max-width: 959px) {
  /* COMMON STYLE for Navigation and Footer*/

  .header {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  }
  .header__h1 {
    color: var(--Gray-4, #bdbdbd);
    font-family: "Roboto-light";
    font-size: 3em;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
  }
  .header__h1-bold{
    color: var(--Gray-1, #333);
    font-family: "Roboto-Bold";
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
    margin-top: -50px;
  }
  .text-light {
    /* легкий */
    color: var(rgba(0, 0, 0, 1));
    font-family: "Roboto-lihgt";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 2em; 
  }
  .text-reg {
    /* регуляр*/
    color: var(rgba(0, 0, 0, 1));
    font-family: "Roboto";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 100% */
  }
  .text-bold{
        /* регуляр*/
        color: var(rgba(0, 0, 0, 1));
        font-family: "Roboto-bold";
        font-size: 1em;
        font-style: normal;
        font-weight: 300;
        line-height: 36px; /* 100% */
  }
  .nav {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav__logo{
    display: none;
  }
  .nav__link {
    color: var(--gray-1, #333);
    font-family: "Roboto";
    font-size: 0.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 0.7em; /* 100% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  /*При наведении добавляются линии над и под ссылкой*/
  .nav__link:before,
  .nav__link:after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0;
    background-color: #000;
    transition: 0.3s;
  }
  .nav__link:after {
    left: 0;
    bottom: 15px;
  }
  .nav__link:before {
    right: 0;
    top: -15px;
  }
  .nav__link:hover {
    color: #000;
  }
  .nav__link:hover:after,
  .nav__link:hover:before {
    width: 100%;
  }

  .footer {
    background: #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 5vw;
    color: white;
    font-family: "Roboto";
  }
  .footer__logo{
    display: none;
  }
  .footer__info {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__info-link{
    color: white;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.42px;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .footer__contact {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__contact-link {
    color: white;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.42px;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .footer__contact-link > img{
    padding-right: 1vw;
  }
  .footer__social{
    margin-top: 1vw;
    text-align: center;
  }
  .footer__social-link {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .footer__social-link > a{
    padding: 1vw;
  }

  /* MAIN-PAGE */
  .main {
    display: flex;
    flex-direction: column;
  }
  .main-block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main_block_info_pics_arrows {
    display: none;
  }
  .main_block_info_pics_nmbrs {
    display: none;
  }
  .main-block__img{
    width: 50vw;
  }
  .main_block_img_button_link {
    padding: 15px;
    
    margin-left: 10vw;
    background: var(--Gray-1, #ffffff);
    color: rgba(51, 51, 51, 1);
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .main-abt {
    /* about */
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 5vw;
    background-color: rgba(251, 251, 251, 1);
  }
  .main_abt_img_block1 {
    display: none;
  }
  .main_abt_img_block2 {
    display: none;
  }
  .main_abt_txt {
    display: flex;
    flex-direction: column;
    padding: 3vw 3vw 3vw 3vw;
  }
  .main_abt_button{
    margin-top: 5vw;
  }
  .main_abt_button_link {
    padding: 15px;
    background: var(--Gray-1, #ffffff);
    color: rgba(51, 51, 51, 1);
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .main-msn {
    /* main mission */
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .main_msn_img {
    display: flex;
    flex-direction: column;
  }
  .main_msn_img_pic {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .main-prj {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .main_prj_img_part1 {
    display: grid;
    margin-bottom: 15px;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(1, 300px);
  }
  .main_prj_img_part2 {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 300px);
  }
  .main_prj_img_pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main_prj_button {
    margin-top: 15px;
    align-self: end;
  }
  .main_prj_button_link {
    padding: 15px;
    background: var(--Gray-1, #333);
    color: white;
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .main-contact {
    margin: 25px;
    display: flex;
    flex-direction: column;
  }
  .main_contact_form_add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-contact__img {
    display: none;
  }
  /*Parameters for input area*/
  #Name,
  #Number,
  #Email,
  #addText {
    padding: 2vw;
  }
  #Textarea {
    padding: 2vw;
  }
  .form-control {
    color: #8d8d8d;
    font-family: Roboto;
    font-size: 0.9em;

    border: none;
    margin: 0.5vw;
    background: #f3f3f3;
  }
  .main_contact_button {
    margin-top: 15px;
    align-self: end;
  }
  .main_contact_button_link {
    padding: 15px;
    background: var(--Gray-1, #333);
    color: white;
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  /* GALLERY-PAGE */
  .gallery-page{
    display: flex;
    flex-direction: column;
  }
  .gallery-page__container {
    margin: 0 10vw 10vw 10vw;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 300px);
  }
  .gallery-page__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery-page__img:first-child {
    background: #C4C4C4;
  }


  /* PROJECT-PAGE */
  .prj_wrapper {
    width: 100vw;
  }
  .main_prj_wrapper_sections {
    padding-left: 10vw;
  }
  .main_prj_wrapper_section {
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 0;
    background: var(--1, #FBFBFB);
  }
  .main_prj_wrapper_section__img {
    width: 80vw;
    padding: 5vw 5vw 0 5vw;
  }
  .main_prj_wrapper_section__describtion {
    padding: 5vw 5vw 0 5vw;
    display: flex;
    flex-direction: column;
  }
  .main_prj_wrapper_section__text {
    font-family: "Roboto";
    color: #000;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
  }
  .main_prj_wrapper_info {
    display: flex;
  }
  .main_prj_wrapper_info__link {
    width: 84px;
    font-family: "Roboto";
    text-decoration: none;
    color: var(--Gray-1, #333);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  .main_prj_wrapper_info__icon {
    width: 24px;
    height: 24px;
  }

  /* PROJECT-PAGE SAMPLE 1*/
  .prj_smple_page {
    display: flex;
    flex-direction: column;
  }
  .prj_smpl_page_main_section{
    display: flex;
    flex-direction: column;
    margin: 0vw 10vw 5vw 10vw;
  }
  .prj_smpl_page_main_section_img1{
    padding-bottom: 1vw;
  }
  .prj_smpl_page_main_section_discription {
    display: flex;
    flex-direction: row;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .prj_smpl_page_main_section_img2{
    display: none;
  }
  .prj_smpl_page_main_section_img3{
    padding-bottom: 1vw;
  }

  /* CERTIFICATIONS-PAGE */
  .certifications{
    display: flex;
    flex-direction: column;
    height: 70vh;
  }

  /* CONTACTS-PAGE */
  .contact-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
  }
  .contact-page__info{
    display: flex;
    flex-direction: column;
  }
  .contact-page__info-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0vw 10vw 10vw 10vw;
  }
  .contact-page__info-button {
    margin-top: 5vw;
    padding: 15px;
    background: var(--Gray-1, #333);
    color: white;
    font-family: "Roboto";
    font-size: 0.8em;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none; /* Убираем подчёркивание */
  }
  .contact-page__map {
    width: 100%;
    border: 2px solid #000;

  }
}
